// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html { height: 100% }
body {
  margin: 0;
  height: 100%;
  background-color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

#game { 
  float: left;
}

#stats {
  float: right;
  width: 250px;
  height: 100%;
  border-left: 1px solid #444;
  background-color: #333;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px #000;

  .game {
    padding: 10px;
    height: 55px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;

    .game-id {
    }

    .progress-bar-container {
      margin: 0 auto;
      margin-top: 10px;
      width: 80%;
      border: 1px solid #666;
      background-color: #000;
      border-radius: 5px;
      padding: 1px;
      box-shadow: 0 0 3px #111;

      .progress {
        width: 0%;
        height: 10px;
        border-radius: 3px;
        background-image: -moz-linear-gradient(bottom, rgb(4,40,112) 7%, rgb(76,165,237) 89%);
        background-image: -webkit-linear-gradient(bottom, rgb(4,40,112) 7%, rgb(76,165,237) 89%);
      }
    }
  }

  .controls {
    padding: 40px;
    border: 1px dashed #999;
    text-align: center;
    margin: 10px 0;
  }

  .players {

    .player {
      display: none;
      margin: 10px 0;

      .photo {
        float: left;
        width: 75px;
        height: 75px;
        border: 1px solid #fff;
        margin-left: 10px;
      }

      .info {
        width: 150px;
        float: left;

        .agent {
          margin-top: 5px;
          color: #fff;
          padding: 5px;
          text-align: center;
          font-size: 13px;
        }

        .sub-info {
          width: 95px;
          margin: 0 auto;
          margin-top: 5px;

          .swarm, .score {
            width: 40px;
            div { text-align: center; }

            .label { font-size: 11px; color: #aaa; }
            .value { font-size: 17px; }
          }
        }
      }

      &.player-x .agent { background-color: #c80000; }
      &.player-o .agent { background-color: #0000c8; }
      &.player-s .agent { background-color: #ff80aa; }
      &.player-w .agent { background-color: #00c800; }
    }
  }
}

.clear:after {
  content:"";
  display:table;
  clear:both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
  padding: 9px;
  background-color: #444;
}

a { color: #fff; text-decoration: none; }
