// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background-color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

#game { padding: 10px; }

#stats {
  border-bottom: 1px solid #444;
  background-color: #333;
  padding: 8px;
  margin: 0 auto;
  color: #fff;

  .tick {
    font-size: 32px;
    font-weight: bold;
  }

  .players {
    font-size: 12px;
    float: left;
    width: 800px;
    
    .player {
      display: none;
      float: left;
      width: 175px;
      margin-right: 10px;

      .swarm, .score {
        float: left;
        width: 85px;
        text-align: center;
      }

      .team {
        color: #fff;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
      }

      &.player-x .team { background-color: #c80000; }
      &.player-o .team { background-color: #0000c8; }
      &.player-s .team { background-color: #ff80aa; }
      &.player-w .team { background-color: #00c800; }
    }
  }
}

.clear:after {
  content:"";
  display:table;
  clear:both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
  padding: 9px;
  background-color: #444;
}

a { color: #fff; text-decoration: none; }
