.player.clear{ class: "player-#{player}" }
  .avatar
    = image_tag avatar
  .info
    .agent
    .sub-info.clear
      .swarm.left
        .value
        .label Bots
      .score.right
        .value
        .label Score
