.player.clear{ class: "player-#{player}" }
  .avatar
    .color
    = image_tag avatar
  .info
    .agent= agent
    .sub-info.clear
      .swarm.clear
        .value 0
        .label Robots
      .score.clear
        .value 0
        .label Boxes
