#stats.clear
  .game.clear
    .game-id= "Game ##{@game_id}"
    .progress-bar-container
      .progress
  .controls.clear
    controls
  .players
    - ['x', 'o', 's', 'w'].each do |player|
      = render 'game/shared/player', player: player, avatar: @avatars[player], agent: @agent_names[player]

#game
  %canvas#board

#game-data{ data: { tick: 0, game_id: @game_id, max_ticks: @max_ticks } }
