#stats.clear
  .game.clear
    .game-id= "Game ##{@game_id}"
    .progress-bar-container
      .progress
  .controls.clear
    .button.play play
    .button.pause pause
    .button.next next
    .button.prev prev
    .button.replay.last replay
  .players
    - @players.values.each do |player|
      = render 'game/shared/player', player: player

#game
  %canvas#overlay
  %canvas#board

#game-data{ data: { tick: 0, game_id: @game_id, max_ticks: @max_ticks } }
