#stats.clear
  .tick.right= 0
  .players
    - ['x', 'o', 's', 'w'].reverse_each do |player|
      = render 'game/shared/player', :player => player
  = link_to "restart", @restart_url, class: 'button left'

%canvas#game

#game-data{ data: { tick: 0, game_id: @game_id, max_ticks: @max_ticks } }
