#stats.clear
  .tick.right= 0
  .players
    - ['x', 'o', 's', 'w'].each do |player|
      = render 'game/shared/player', :player => player

%canvas#game

#game-data{ data: { tick: 0, game_id: @game_id, max_ticks: @max_ticks } }
